body{
    margin: 0 !important;
    padding: 0 !important;

    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size: 26pt;
}

.link{
    padding: 8px 30px;
    text-decoration: none;
    font-size: 11pt;
}

.link:visited{
    color: black;
}

.link-light-green{
    background-color: #e6f3ca;
}

.link-light-green:hover{
    background-color: #d7e0c3;
}

.link-light-pink{
    background-color: #fefbf8;
}

.link-light-pink:hover{
    background-color: #f8e2cc;
}

.link-light-blue{
    background-color: #f7fdfe;   
}

.link-light-blue:hover{
    background-color: #caf2f8;
}

.link-border{
    border-style: solid;
    border-width: 1px;
}

.link-border:hover{
    color: #fff !important;
    background-color: #454545;
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
    
    .content{
        width: 55%;
    }

    .content-flex{
        display: flex;
    }

    .content-grid{
        display: grid;
        grid-template-columns: 30% 30% 40%;
    }
}

@media (max-width: 1440px){
    .block{
        .content{
            width: 80%;
        }

        .content-grid{
            grid-template-columns: 50% 50%;
        }

        .subblock-left{
            grid-column-start: 1;
            grid-column-end: -1;
        }
    }
}

@media (max-width: 600px){
    .block{
        .content-grid{
            grid-template-columns: none;
        }
    }
}

.block-colorful{
    display: flex;
    position: relative;
    padding-bottom: 5%;

    .info-container{
        flex: 1;

        display: flex;
        align-items: center;

        position: relative;
        .design-rect{
            position: absolute;
            top: 0;
            left: 0;
            width: 153px;
            height: 145px;
        }

        .info{
            position: relative;
            z-index: 1;

            p{
                margin-bottom: 50px;
                color: #636d50;
            }
        }
    }

    .info-container-left{
        padding: 1.5% 10% 5% 5%;
    }

    .info-container-right{
        padding: 1.5% 5% 5% 5%;
    }

    .picture{
        position: relative;
        width: 48%;
        height: 450px;
        background-color: #fff;
        
        .img{
            position: absolute;

            width: 100%;
            height: 450px;

            box-shadow: 0 0 40px 0 rgba(148,168,112,0.8);
        }

        .img-right{
            top: 50px;
            left: 50px;
        }

        .img-left{
            top: 50px;
            right: 50px;
        }
        
        .img-salad{
            background-image: url('../images/salad.jpeg');
            background-size: cover;
        }

        .img-sushi{
            background-image: url('../images/sushi.jpeg');
            background-size: cover;
            background-position: center;
        }

        .img-fruit-salad{
            background-image: url('../images/fruit_salad.jpeg');
            background-size: cover;
            background-position: center;
        }

        .img-red-fruits{
            background-image: url('../images/red_fruits.jpeg');
            background-size: cover;
        }
    }

    .picture-right{
        margin-right: 50px; // to compensate img offset
    }

    .picture-left{
        margin-left: 50px; // to compensate img offset
        margin-right: 50px;
    }

    .design-text{
        position: absolute;
        bottom: -65px;

        h1{
            margin: 0;
            padding: 0;

            font-size: 160pt;
            font-weight: bolder;

            color: #fff;
        }
    }

    .design-text-right{
        right: 0;
        margin-right: 25%;
        
        visibility: hidden;
    }
    .design-text-right.animate__animated{
        visibility: visible;
    }

    .design-text-left{
        left: 0;
        margin-left: 25%;
        
        visibility: hidden;
    }
    .design-text-left.animate__animated{
        visibility: visible;
    }
}

@media (max-width: 1440px){
    .block-colorful{
        padding-bottom: 15%;

        .design-text-right{
            margin-right: 5%;
        }
    }
}

@media (max-width: 800px){
    .block-colorful{
        .content-flex{
            flex-direction: column;
            align-items: center;

            .picture{
                order: 1;

                width: 70%;
                height: 350px;

                margin-bottom: 100px;

                .img{
                    height: 350px;
                }

                .img-right{
                    left: -50px;
                }
            }

            .picture-right{
                margin-right: 0;
            }

            .info-container{
                order: 2;
            }

            .design-text{
                margin: 0;
                left: 50%;
                transform: translateX(-50%);
                bottom: -50px;
    
                width: 100vw;
                text-align: center;
    
                h1{
                    font-size: 100pt;
                }
            }
        }
    }
}

@media (max-width: 600px){
    .block-colorful{
        .content-flex{
            .picture{
                width: 80%;

                .img-right,
                .img-left{
                    top: 30px;
                    left: -30px;
                }
            }

            .design-text{
                bottom: -28px;
                h1{
                    font-size: 70pt;
                }
            }
        }
    }
}

.block-green{
    background-color: #c3e288;
}

.block-pink-asian{
    background-image: url('../images/bg_sushi.jpeg');
    background-size: cover;
    background-position: bottom;
}

.block-blue{
    background-image: url('../images/bg_fruits.jpeg');
    background-size: cover;
    background-position: bottom;
}

.block-pink-fruits{
    background-image: url('../images/bg_red_orange.jpeg');
    background-size: cover;
    background-position: bottom;
}

.block-white{
    position: relative;

    .subblock-left{
        display: flex;
        padding-top: 4%;
        padding-left: 2%;

        position: relative;

        .design-rect{
            position: absolute;
            top: 0;
            left: 0;
            width: 143px;
            height: 143px;
        }

        .title{
            z-index: 1;

            h2{
                margin: 0;
            }
        }

    }
    
    .subblock-mid{
        padding-top: 4%;

        .info{
            padding: 0 5%;
                
            p{
                margin: 0;
                margin-bottom: 10%;
            }
        }
    }

    .subblock-right{
        padding-top: 4%;
        position: relative;

        .info{
            position: relative;
            z-index: 1;

            p{
                margin: 0;
                padding-right: 6%;

                padding-bottom: 10%;
            }
        }

        .design-link{
            display: flex;
            align-items: center;

            position: relative;

            padding-left: 5%;
            padding-bottom: 15%;

            z-index: 1;

            .line{
                width: 50%;
                height: 0;
                border-bottom: 1px solid #000;
            }
        }

        .design-rect{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 150px;
            height: 140px;
        }
    }
}

@media (max-width: 1440px){
    .block-white{
        .subblock-left{
            padding: 0;

            .title{
                display: flex;
                align-items: center;
                
                padding-left: 20px;
                height: 143px;
            }
        }
    }
}

@media (max-width: 1440px){
    .block-white{
        .subblock-right{
            padding: 0 5%;
        }
    }
}

@media (max-width: 600px){
    .block-white{
        .content{
            .subblock-left{
                .title{
                    padding-top: 30px;
                }
            }
        }
    }
}

.design-rect{
    z-index: 0;
}

.design-rect-light-green{
    opacity: .45;
    background-color: #f9fcf2;
}

.design-rect-light-pink{
    opacity: .45;
    background-color: #fff9fc;
}

.design-rect-pink{
    background-color: #f2d8bb;
}

.design-rect-green{
    background-color: #c3e288;
}

.design-rect-blue{
    background-color: #afe7f6;
}